{% extends "base.html" %} {% load crispy_forms_tags %} {% block conteudo %}

<div class="row">
  {% if not request.user.is_authenticated %}
  <div class="col-lg">
    <h1>LOGIN</h1>
    <form method="POST" action="{% url "perfil:login" %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="usuarioInput">Usuário</label>
        <input type="text" name="usuario" class="form-control" id="usuarioInput" aria-describedby="usuarioHelp" placeholder="Digite o usuário">
      </div>
      <div class="form-group">
        <label for="passwordInput">Senha</label>
        <input type="password" name="senha" class="form-control" id="passwordInput" placeholder="Digite sua Senha">
      </div>

      <button type="submit" class="btn btn-primary btn-block btn-lg">Entrar</button>
    </form>
  </div>
  {% endif %}
  <div class="col-lg">
    {% block titulo_cadastro %}
    <h1>CADASTRO</h1>
    {% endblock titulo_cadastro%}

    <form method="POST" action="">
      {% csrf_token %} {{userForm|crispy}} {{perfilForm|crispy}}

      <div class="row">
        <div class="col">
          <button type="submit" class="btn btn-primary btn-block btn-lg">
            Enviar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock conteudo %}