{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block conteudo %}


<div class="row">

    {% if not request.user.is_authenticated %}
        <div class="col-lg">
            <h1>LOGIN</h1>
        </div>
    {% endif %}
    <div class="col-lg">

        {% block titulo_cadastro %}
            <h1>CADASTRO</h1>
        {% endblock titulo_cadastro%}

        <form method="POST" action="">
            {% csrf_token %}
            {{userForm|crispy}}
            {{perfilForm|crispy}}

            <div class="row">
                <div class="col">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">
                        Enviar
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock conteudo %}


spo